<div class="content">
  <app-cards-film    filmName = '"Ice drive"'
                     picture = 'https://waynedalenews.com/wp-content/uploads/2021/07/Ice-Road-Netflix-Movie.jpg'
                     year = '2021'></app-cards-film>
  <app-cards-film     filmName = '"Ice age"'
                      picture = 'https://upload.wikimedia.org/wikipedia/ru/a/a9/Ice_Age.jpg'
                      year = '2002'
  ></app-cards-film>
  <app-cards-film     filmName = '"Jumaji"'
                      picture = 'https://i.ytimg.com/vi/MJuFdpVCcsY/movieposter_en.jpg'
                      year = '2000'
  ></app-cards-film>
</div>


