.header{
  display: flex;
  background: rgba(139, 152, 212, 0.53);
  color: midnightblue;
  justify-content: space-between;
  padding: 0 50px;
  margin: 0;
}
ul{
  display: flex;
  list-style-type: none;
}
li{
  padding: 10px;
}
