<div class="header">
  <div class="logo"><img [src]="logUrl" alt="cinemaLogo" style="max-height: 50px" ></div>
  <h1>{{Title}}</h1>
  <nav>
    <ul>
      <a href=""><li>Contacts</li></a>
      <a href=""><li>Forum</li></a>
    </ul>
  </nav>
</div>
