<div class="footer">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, odio?</p>
  <a href="#">Lorem ipsum dolor.</a>
  <a href=""><img [src]="url" alt="" style="max-height: 20px"></a>
 </div>
