<div class="sidebar">
  <img [src]="urlSidebar" alt="Movies" >
  <ul>
    <li><a href="#" class="">Movies</a></li>
    <li><a href="#" class="">Trailers</a></li>
    <li><a href="#" class="">Galleries</a></li>
    <li><a href="#" class="">Interviews</a></li>
    <li><a href="#" class="">Festivals</a></li>
    <li><a href="#" class="">DVD's</a></li>
    <li><a href="#" class="">On this day</a></li>
  </ul>
</div>
