ul{
  padding-right: 10px;
  list-style-type: none;
  text-align: right;
}
.sidebar{
  position: relative;
  max-width: 350px;
  background:  rgba(139, 152, 212, 0.53) ;
  margin: 0;
  text-align: right;
  padding: 10px;
}
li{

  margin-left: 50px;
  border: 1px solid midnightblue;
  border-radius: 2px;
}

a{
  padding: 4px;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 21px;

}
img {
  position: absolute;
  top: 10px;
  left: 5px;
  opacity: 0.3;
  width: 350px;

}
